:root {
  --text-color: #333;
  --first-color: rgb(234, 205, 213);
  --background-color: #ffffff;
  --third-color: #dc0a2d;
  --card-bg: #ffffff;
  --card-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
  --font-family: "Arial", sans-serif;
  --font-size: 16px;
  --card-border-radius: 8px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--text-color);
  background-attachment: fixed;
  margin: 0;
  overflow-x: hidden;
  min-height: 100vh;
}

.pokeball {
  width: 100%;
  height: 100%;
}

.pokeball {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  padding: 20px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo-wrapper {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  justify-items: space-between;
}

.logo-wrapper img {
  max-width: 100px;
  min-height: 100px;
  margin-right: 10px;
}

h1 {
  font-size: 32px;
  color: var(--text-color);
}

.search-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.search-wrap {
  display: flex;
  align-items: center;
  width: 80%;
  max-width: 600px;
  position: relative;
}

.search-icon {
  width: 24px;
  margin-right: 10px;
}

.search-input {
  flex-grow: 1;
  background-color: var(--first-color);
  padding: 8px;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  outline: none;
}

.search-close-icon {
  width: 24px;
  position: absolute;
  right: 8px;
  cursor: pointer;
}

.sort-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.sort-wrap,
.filter-wrapper {
  text-align: center;
  margin-top: 10px;
}

.sort-icon {
  width: 24px;
}

.filter-wrap {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.filter-wrap input[type="radio"] {
  margin-right: 5px;
}

.main {
  padding: 20px;
  background-color: var(--first-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  box-sizing: border-box;
}

.pokemon-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

.list-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  max-width: 1200px;
  margin: 0 auto;
}

#not-found-message {
  text-align: center;
  font-size: 18px;
  color: #888;
  display: none;
}

.pokemon-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.list-item {
  background-color: var(--card-bg);
  box-shadow: var(--card-shadow);
  border-radius: var(--card-border-radius);
  text-align: center;
  padding: 30px;
  width: 100%;
  max-width: 290px;
  height: 270px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
  transition: transform 0.3s;
}

.list-item:hover {
  transform: translateY(-5px);
}

.list-item img {
  max-width: 150px;
  max-height: 150px;
  object-fit: cover;
}

.list-item .name-wrap {
  font-size: var(--font-size);
  font-weight: bold;
  color: var(--third-color);
}

.favorites {
  background-color: var(--third-color);
  color: var(--first-color);
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

.favorites:hover {
  background-color: var(--first-color);
  color: var(--third-color);
}

.favorite-btn {
  background-color: var(--first-color);
  color: var(--text-color);
  padding: 10px 10px;
  gap: 10px;
  border-radius: 20px;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}

@media (max-width: 1350px) {
  .pokemon-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
  }

  .list-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    max-width: 100%;
    margin: 0 auto;
  }

  .main {
    padding: 15px;
    width: 100%;
  }

  .list-item {
    padding: 15px;
  }

  h1 {
    font-size: 22px;
    color: var(--text-color);
  }

  .pokeball {
    margin-left: -25px;
    width: 30%;
    height: 10%;
  }
}

@media (max-width: 480px) {
  .pokemon-list {
    grid-template-columns: repeat(2, 2fr);
    gap: 10px;
    width: 60%;
    margin: 0 auto;
  }

  .main {
    padding: 10px;
    width: 100%;
  }

  .list-item {
    padding: 5px;
  }
}
